@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    padding: 4rem;
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); 
    width: 90%; 
    max-width: 1400px; 
}

main h2 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.room-list {
    display: flex;
    justify-content: space-between; 
    gap: 2rem; 
}

.room-card {
    flex: 1; 
    background: white;
    border-radius: 12px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.4); 
    text-align: center;
    padding-bottom: 1.5rem; 
    cursor: pointer;
    transition: all 0.3s ease; 
    position: relative;
    border: 2px solid transparent; 
}

.room-card input[type="radio"] {
    position: absolute;
    opacity: 0; 
    height: 100%; 
    width: 100%; 
}

.room-card img {
    border-radius: 12px 12px 0 0; 
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
}

.room-card .room-details {
    padding: 1.5rem; 
}

.room-card h3 {
    font-weight: 700;
    font-size: 1.8rem; 
}

.room-card p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem; 
}

.room-card:hover {
    box-shadow: 12px 12px 40px rgba(0, 0, 0, 0.5);
}   

.room-card input[type="radio"]:checked + .room-card {
    border: 3px solid #8e2de2; /* Highlighted border when selected */
    background: rgba(142, 45, 226, 0.1); /* Slight background change */
}

.date-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.input-field {
    position: relative;
    width: 45%; 
}

.input-field span {
    font-size: 1.3rem; 
}

.input-field input[type="date"] {
    padding: 0.5rem; 
    width: 100%; 
    outline: none;
    font-size: 1.2rem;
    border-radius: 5px; 
    border: 1px solid rgba(0, 0, 0, 0.3);
}

form input[type="submit"].book-now-button {
    margin-top: 2.5rem; 
    padding: 1rem; 
    background: #8e2de2; 
    cursor: pointer;
    color: white;
    font-size: 1.3rem; 
    font-weight: 600;
    border-radius: 7px; 
    transition: all 0.3s ease;   
}

form input[type="submit"].book-now-button:hover {
    background: linear-gradient(to right, #4776E6, #8e54e9); 
}
